{% extends 'base.html' %}

{% block title %}Home{% endblock %}
{% block content %}
<div class="jumbotron">
    <h1>Welcome to your dashboard</h1>
    {% if hide_me %}
    <p>Your next scrape is in {{ next_scrape }} hours.</p>
    {% endif %}
    <form action="{% url 'scrape' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary" {% if hide_me %}disabled{% endif %}>Get my morning news</button>
    </form>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-3 text-center">
            <h3>News</h3>
            {% for object in object_list %}
            <div class="card text-center" style="width:100%">
                <div class="card-body">
                    <img src="{{ object.image.url }}" alt="image card" class="card-img-top">
                    <h5 class="card-title"><a href="{{ object.url }}">{{ object.title }}</a></h5>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="col-sm-3 text-center">
            <h3>Notepad</h3>
            {% for note in notes_list %}
            <div class="card text-center" style="width: 100%;">
                {% if note.image %}
                <img class="card-img-top" src="{{ note.image.url }}" alt="Card image cap">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ note.title }}</h5>
                    {% if note.url %}
                    <a href="{{ note.url }}">Link</a>
                    {% endif %}
                </div>
                <div>
                    <span><a href="{{ note.get_update_url }}"><i class="fas fa-pen-alt"> Edit</i></a></span>
                    <span><a href="{{ note.get_delete_url }}"><i class="fas fa-trash-alt"> Delete</i></a></span>
                </div>
            </div>
            <hr>
            {% endfor %}
            <a id="dropdown-toggle" data-toggle="collapse" href="#createnote" role="button" aria-expanded="false" aria-controls="collapseExample">Add Note</a>
            <div class="collapse" id="createnote">
                <form method="POST" action="." enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input class="btn btn-warning" type="submit" name="createnote">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}