{% extends 'base.html' %}
{% block title %}{{ object.title }} | Course Detail{% endblock %}
{% block post_detail_link %}<li class="nav-item"><span class="navbar-text">{{ object.title }}</span></li>{% endblock %}
{% block content %}
<div class="container-fluid">
    <h1>Course Detail View Page</h1>
    <div class="row">
        <div class="col-md-6">
            <h3>{{ object.title }}</h3>
            <p>{{ object.description }}</p>
            <ol>
                {% for lesson in object.lessons %}
                <li><a href="{{ lesson.get_absolute_url }}">{{ lesson.title }}</a></li>
                {% endfor %}
            </ol>
        </div>
    </div>
</div>
{% endblock %}